---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<main class="max-w-4xl mx-auto p-6 space-y-8">
			<section>
			  <h1 class="text-3xl font-bold mb-4">Hello</h1>
			  <p class="text-lg mb-4">
				I'm Preston, and I created this website to teach everyone about the beautiful world of Graph Neural Networks and Geometric Deep Learning. On this site, you’ll find all the resources needed to understand the theory behind GNNs and how to apply them to specific tasks. My goal is to provide a collection of valuable resources. If you have any suggestions, comments, or questions, feel free to email me at <a href="mailto:preston@sandhead.net" class="text-blue-600 hover:text-blue-800 underline">preston@sandhead.net</a>. Enjoy!
			  </p>
			</section>
		  
			<section>
			  <div class="space-y-4">
				<div>
				  <h3 class="text-xl font-semibold mb-2">Books</h3>
				  <ul class="list-disc list-inside space-y-2">
					<li>
					  <a href="https://www.cs.mcgill.ca/~wlh/grl_book/" target="_blank" class="text-blue-600 hover:text-blue-800 underline">
						Graph Representation Learning Book (William Hamilton, McGill University)
					  </a>
					</li>
				  </ul>
				</div>
		  
				<div>
				  <h3 class="text-xl font-semibold mb-2">Videos</h3>
				  <ul class="list-disc list-inside space-y-2">
					<li>
					  <a href="https://youtube.com/playlist?list=PLoROMvodv4rPLKxIpqhjhPgdQy7imNkDn&si=Nd7wO0wI-EfCniWc" target="_blank" class="text-blue-600 hover:text-blue-800 underline">
						Stanford CS224W: Machine Learning with Graphs (Jure Leskovec)
					  </a>
					</li>
					<li>
					  <a href="https://youtu.be/GXhBEj1ZtE8?si=LG9uxR7s2wYw4eeo" target="_blank" class="text-blue-600 hover:text-blue-800 underline">
						GNNs from the ground up (short introduction)
					  </a>
					</li>
					<li>
					  <a href="https://youtube.com/playlist?list=PLV8yxwGOxvvoNkzPfCx2i8an--Tkt7O8Z&si=5NWxuxJcluxj71Mx" target="_blank" class="text-blue-600 hover:text-blue-800 underline">
						Assorted GNN videos (DeepFindr)
					  </a>
					</li>
				  </ul>
				</div>
		  
				<div>
				  <h3 class="text-xl font-semibold mb-2">Foundational Papers</h3>
				  <ul class="list-disc list-inside space-y-2">
					<li>
					  <a href="https://arxiv.org/abs/1609.02907" target="_blank" class="text-blue-600 hover:text-blue-800 underline">
						Graph Convolutional Networks
					  </a>
					</li>
					<li>
					  <a href="https://arxiv.org/abs/1710.10903" target="_blank" class="text-blue-600 hover:text-blue-800 underline">
						Graph Attention Networks
					  </a>
					</li>
				  </ul>
				</div>
			  </div>
			</section>
		  </main>
		  
		
	</body>
</html>
