---
import BaseHead from '../components/BaseHead.astro';
// import Header from '../components/Header.astro';
// import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<main>
			<h1>Hello</h1>
			<p>I'm Preston, and I created this website to teach everyone about the beautiful world of Graph Neural Networks and Geometric Deep Learning. In this website
				you can find all the resources that will teach you the theory behind GNNs and how to apply them for your specific task. The goal for this website is merely
				to provide a dictionary of a bunch of great resources. If you have any suggestions, comments,
				concerns, or questions, please feel free to send me an email at preston@sandhead.net. Enjoy!
			</p>
			<h3>Getting Started:</h3>
			<h4>Books:</h4>
			<p>Graph Representation Learning Book (William Hamilton, McGill University): <a href="https://www.cs.mcgill.ca/~wlh/grl_book/" target="_blank">https://www.cs.mcgill.ca/~wlh/grl_book/</a>
			</p>
			<h4>Videos:</h4>
			<p>Stanford CS224W: Machine Learning with Graphs (Jure Leskovec): <a href="https://youtube.com/playlist?list=PLoROMvodv4rPLKxIpqhjhPgdQy7imNkDn&si=Nd7wO0wI-EfCniWc">link</a></p>
			<p>GNNs from the ground up (short introduction): <a href="https://youtu.be/GXhBEj1ZtE8?si=LG9uxR7s2wYw4eeo">https://youtu.be/GXhBEj1ZtE8?si=LG9uxR7s2wYw4eeo</a></p>
			<p>Assorted GNN videos (DeepFindr): <a href="https://youtube.com/playlist?list=PLV8yxwGOxvvoNkzPfCx2i8an--Tkt7O8Z&si=5NWxuxJcluxj71Mx">link</a></p>
			<h4>Foundational Papers:</h4>
			<p>Graph Convolutional Networks: <a href="https://arxiv.org/abs/1609.02907">https://arxiv.org/abs/1609.02907</a></p>
			<p>Graph Attention Networks: <a href="https://arxiv.org/abs/1710.10903">https://arxiv.org/abs/1710.10903</a></p>
			
		</main>
		
	</body>
</html>
